{% extends 'base.html' %}


{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='UserProfile.css') }}">
{% endblock %}

{% block content %}
{{ super() }}
    <div class="container">
        <div class="userspace">
            <div class="panelHeader">
                <ul> 
                    <!--<li><a href="#">rank: {{ current_user.getRank() }}</a></li>-->
                    <li><a href="#">Login as {{ current_user.getEmail() }}</a></li>
                    <li><a href="#" id="open" class="open-button" onclick="openForm()">Open form1</a></li>
                </ul>
            <a href="{{url_for('logout')}}" class="logout">Logout</a>
            </div>
            <div class="form-holder">
                <div class="form-popup" id="myForm">
                    <form action="/action_page.php" class="form-container">
                      <h1>Header</h1>

                      <label for="id"><b>ID</b></label>
                      <input type="text" placeholder="ID" name="id" required>
                  
                      <label for="email"><b>Email</b></label>
                      <input type="text" placeholder="email" name="email" required>
                  
                      <label for="psw"><b>Password</b></label>
                      <input type="password" placeholder="Password" name="psw" required>
                  
                      <button type="submit" class="btn">Push</button>
                      <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                  </div>
            </div>
        </div>
    </div>   
    <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
        function openForm1() {
          document.getElementById("myForm1").style.display = "block";
        }
        
        function closeForm1() {
          document.getElementById("myForm1").style.display = "none";
        }
        </script>

        <script type="text/javascript">
            function createSquare(){
            const section = document.querySelector("div");
            const square = document.createElement("span");
    
            var size = Math.random() * 50;
    
            square.style.width = 10 + size + 'px';
            square.style.height = 10 + size + 'px';
    
            square.style.top = Math.random() * innerHeight + 'px';
            square.style.left = Math.random() * innerWidth + 'px';
    
            section.appendChild(square);
    
            setTimeout(() =>{
                square.remove()
            }, 5000)
        }
        setInterval(createSquare, 150)
        </script>
{% endblock %}